<div class="page-header">
  <%= link_to new_capital_path, class: 'btn btn-outline-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Capital
  <% end %>
  <h1>Listing capitals</h1>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
            <th>Sum</th>
            <th>User</th>
            <th>Local</th>
            <th>Deleted</th>
            <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @capitals) do |capital| %>
            <td><%= capital.sum %></td>
            <td><%= capital.user %></td>
            <td><%= capital.local %></td>
            <td><%= capital.deleted %></td>
            <td><span class="table-icon primary"></span> <%= link_to 'Edit', edit_capital_path(capital) %></td>
        <td><span class="table-icon danger"></span> <%= link_to 'Destroy', capital, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
