<div class="page-header">
  <%= link_to new_balance_chenge_path, class: 'btn btn-outline-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Balance chenge
  <% end %>
  <h1>Listing balance_chenges</h1>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
            <th>Sum</th>
            <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @balance_chenges) do |balance_chenge| %>
            <td><%= balance_chenge.sum %></td>
            <td><span class="table-icon primary"></span> <%= link_to 'Edit', edit_balance_chenge_path(balance_chenge) %></td>
        <td><span class="table-icon danger"></span> <%= link_to 'Destroy', balance_chenge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
