<div class="page-header">
  <h3>Graph builder</h3>
</div>

<form action="../base/graph" method="get" class="my-form update-graph">
  <div class="btn-details">Selection settings
    <span class="icon-nav down"><%= octicon "triangle-down" %></span><span class="icon-nav up"><%= octicon "triangle-up" %></span>
  </div>
  <!--  <div class="detail nado izmenit kak tolko dodelau)))">-->
  <div class="details">
    <div class="form-group">
      <label for="">Date interval</label>
      <div class="input-group">
        <div class="input-group-prepend col-md-3 col-sm-4 col-4">
          <span class="input-group-text" id="">Begin date</span>
        </div>
        <input type="date" class="form-control col-md-9 col-sm-8 col-8" value="<%= Date.today().at_beginning_of_month %>" name="date_begin" id="date_begin">
      </div>
      <div class="input-group">
        <div class="input-group-prepend col-md-3 col-sm-4 col-4">
          <span class="input-group-text" id="">End date</span>
        </div>
        <input type="date" class="form-control col-md-9 col-sm-8 col-8" value="<%= Date.today() %>" name="date_end" id="date_end">
      </div>
    </div>

    <div class="form-group">
      <label for="user">User</label>
      <select name="user" id="user" class="form-control">
        <option value="all">All users in the group</option>
        <% get_records(table_name: "users").each do |user| %>
          <option value="<%= user.id %>"><%= user.email %></option>

        <% end %>
      </select>
    </div>


    <%#= my_toggle_three_tag(toggle_name: "Sign of transaction", toggle_name_html: "sign", name_one:"All" , name_two: "Expense", name_three: "Profit", value_one:"1", value_two: "2", value_three: "3") %>
    <div class="form-group">
      <label for="sign">Sign of transactions or balance</label>
      <select name="sign" id="sign" class="form-control">
        <option value="balance">Balance</option>
        <option value="all">All signs</option>
        <option value="expense">Expense</option>
        <option value="profit">Profit</option>
      </select>
    </div>
    <div class="row my-toggle">
      <%=my_toggle_tag(toggle_name: "Points", toggle_name_html: "points", name_one: "Set", name_two: "Remove", toggle_class: "col-6 my_toggle") %>
      <%=my_toggle_tag(toggle_name: "Curve", toggle_name_html: "curve", name_one: "Smooth", name_two: "Actue", toggle_class: "col-6 my_toggle") %>
    </div>

    <input type="submit" class="btn btn-primary gradient form-control" value="Build graph">

  </div>

</form>

<div class="result">
  <% if @balance == false %>

    <%= line_chart @data.map {|x| {name: x[:name], data: x[:data].map {|tran| [tran[:date], tran[:sum]]}}},
                   download: "Graph_#{Date.today()}",
                   suffix: "₽", thousands: " ",
                   xtitle: "Time", ytitle: "Sum",
                   curve: @curve,
                   points: @points %>

  <% else %>

    <%= line_chart [{name: "Balance", data: @data}], download: "Graph_balance_#{Date.today()}",
                   suffix: "₽",
                   thousands: " ",
                   xtitle: "Time",
                   ytitle: "Balance sum",
                   curve: @curve,
                   points: @points %>

  <% end %>
</div>