<div class="main-div">
  <% if has_family %>

    <div class="page-header">
      <h3>Your group</h3>
    </div>
    <div class="body">
      <table class="table table-bordered table-hover table-users">
        <thead class="thead-dark">
        <th>
          Groupmates email
        </th>
        </thead>
        <tbody>
        <% @group.each do |user| %>
          <tr>
            <td><%= user.email %> <span class="text-danger span-you"><%= "You" if current_user.id == user.id %></span>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <form action="../base/leave_the_group">
        <input type="submit" class="btn btn-warning" value="Leave the group">
      </form>
    </div>
    <br><br>


      <form action="../base/join" method="get" class="my-form update-graph">

          <div class="form-group">
            <label for="">Date interval</label>
            <div class="input-group">
              <div class="input-group-prepend col-md-3 col-sm-4 col-4">
                <span class="input-group-text" id="">Begin date</span>
              </div>
              <input type="date" class="form-control col-md-9 col-sm-8 col-8" value="<%= Date.today().at_beginning_of_month %>" name="date_begin" id="date_begin">
            </div>
            <div class="input-group">
              <div class="input-group-prepend col-md-3 col-sm-4 col-4">
                <span class="input-group-text" id="">End date</span>
              </div>
              <input type="date" class="form-control col-md-9 col-sm-8 col-8" value="<%= Date.today() %>" name="date_end" id="date_end">
            </div>
          </div>

          <div class="form-group">
            <lable for="">Reason <span class="chart-num">#1</span>
              <svg width="20" height="20">
                <rect class="rect1" />
              </svg>
            </lable>
            <select name="reason_p" id="reason_p" class="form-control">
              <option value="all">all profit</option>
              <%@reasons_profit.each do |reason| %>
                <option value="<%=reason.id %>"><%= reason.reason %></option>
              <%end %>
            </select>
          </div>

        <div class="form-group">
          <lable for="">Reason <span class="chart-num">#2</span>
            <svg width="20" height="20">
              <rect class="rect2"/>
            </svg>
          </lable>
          <select name="reason_e" id="reason_e" class="form-control">
            <option value="all">all expence</option>
            <%@reasons_expence.each do |reason| %>
              <option value="<%=reason.id %>"><%= reason.reason %></option>
            <%end %>
          </select>
        </div>

          <input type="submit" class="btn btn-primary gradient form-control" value="Build pie charts">

      </form>
      <br>
    <div class="page-header">
      <h4>Profit chart</h4>
    </div>

      <%= pie_chart @data_profit, download: "Profit_chart_#{Date.today()}", colors: ["#218359", "#408AD2","#FFA640","#408AD2"] %>
      <br><br>
    <div class="page-header">
      <h4>Expence chart</h4>
    </div>

      <%= pie_chart @data_expense, download: "Expense_chart_#{Date.today()}", colors: ["#BF5930", "#AD2B4E","#67237F","#A62F00"] %>


  <% else %>

    <div class="page-header">
      <h6 class="text-danger">You are not a member of the group</h6>
      <h3>Create a new group or join!</h3>
    </div>

    <form class="my-form" action="../base/new_family" method="get">
      <%= my_input_tag("Group name", "name", "text", "", required: true) %>
      <%= my_input_tag("Connect code", "connect", "text", "", required: true) %>
      <%= my_toggle_tag(toggle_name: "Action", name_one: "Create new", name_two: "To join another", toggle_name_html: "my_action") %>
      <input type="submit" class="form-control btn btn-primary gradient" value="Run the selected" id="submit_new_family">
    </form>


  <% end %>
</div>