<div class="page-header">
  <h3>New fast transaction</h3>
</div>

<form action="../base/create_new_fast_transaction" class="my-form" method="get">
  <%=my_input_tag("Name","name","text","",required: true) %>
  <%=my_input_tag("Sum","sum","text","",pattern: '([0-9]* *\/*\**\+*-*\(*\)*\.*)*")') %>
  <div class="form-group">


    <label for="reason" class="control-label">Reason</label>
    <select class="form-control js-input" name="reason" id="reason" required>
      <% get_records(table_name: "reasons").each do |x| %>
        <option value="<%= x.id %>"><%= x.reason %></option>
      <% end %>
    </select>
  </div>

  <%= my_toggle_tag(toggle_name: "Local", name_one: "Personal", name_two: "Joint", toggle_name_html: "local") %>
  <input type="submit" value="Create new fast transaction" class="btn btn-primary gradient form-control">
</form>


<br><br>
<div class="page-header">
  <h3>Fast transactions table</h3>
  <h3>(personal only)</h3>

  <div class="table-responsive">
    <table class="table-hover table-bordered main-table table">
      <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Reason</th>
        <th>Sum</th>
        <th class="text-warning">Delete</th>
      </tr>
      </thead>
      <tbody>
      <% if @fastTransactions.size > 0 %>
      <% @fastTransactions.each do |tran| %>

        <tr>
          <td><%= tran.name %></td>
          <td><%= Reason.find(tran.reason).reason %></td>
          <td><%= tran.sum %></td>
          <td>
            <a href="<%=base_delete_fast_transaction_path %>?id=<%=tran.id %>"  class="delete-fast-transaction btn btn-outline-danger">
              <span class="icon-nav">X</span></a>
          </td>
        </tr>
      <% end %>
        <%else %>
        <tr>
          <td colspan="4" class="no-tran">No fast transactions</td>
        </tr>
        <%end %>

      </tbody>
    </table>
  </div>
</div>