<div class="page-header">
  <h3>New Transaction</h3>
</div>

<form action="../base/response_on_new_transaction" method="get" class="my-form" remote = "true">

  <div class="form-group">


    <label for="reason" class="control-label">Reason</label>
    <select class="form-control js-input" name="reason" id="reason" placeholder="Reason" required>
      <option value="<%=Reason.find_by_reason("Other minus").id %>">Reason</option>
      <%Reason.all.each do |x| %>
        <% if x.deleted == false %>
          <option value="<%=x.id %>"><%= x.reason %></option>
        <%end %>
      <% end %>
    </select>
  </div>

  <div class="form-group">
    <label for="sum" class="ocntrol-label">Sum</label>
    <input type="text" class="form-control js-input" pattern="([0-9]* *\/*\**\+*-*\(*\)*\.*)*" name="sum" id="sum" value = "0" placeholder="Sum" required>
  </div>

  <div class="btn-details">Details <span class="icon-nav down"><%= octicon "triangle-down" %></span><span class="icon-nav up"><%= octicon "triangle-up" %></span>
  </div>

  <div class="details">

    <div class="form-group">
      <label for="description" class="control-label">Description</label>
      <input type="text" class="form-control js-input" name="description" id="description" placeholder="Description">
    </div>
    
    <div class="form-group">
      <label for="local" class="control-label">Local</label>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary active local_p">
        <input type="radio" name="local" id="local_p" autocomplete="off" value = "true" checked>Personal
      </label>
      <label class="btn btn-outline-primary local_j">
        <input type="radio" name="local" id="local_j" autocomplete="off" value = "false">Joint
      </label>
    </div>

    </div>
  </div>

  <input type="submit" class="btn btn-primary gradient" id="submit_new_transaction" value="Add transaction">

</form>



<br>
<br>

<div class="page-header">
  <h3>Last transactions</h3>
</div>

<div class="table-responsive">
<table class="table table-hover table-bordered"  >
  <thead class="thead-dark">
  <tr>
    <th>Sum</th>
    <th>Reason</th>
    <th>User</th>
    <th>Date</th>
  </tr>

  </thead>

  <tbody>
  <% Transaction.order("created_at DESC")[0..4].each do |tran| %>
  <tr class="<%= 'table-success' if Reason.find(tran.reason).sign == false %> <%= 'table-danger' if Reason.find(tran.reason).sign == true %>">
    <td><%=tran.sum %></td>
    <td><%=Reason.find(tran.reason).reason %></td>
    <td><%=User.find(tran.user).email %></td>
    <td><%= tran.created_at.to_s.split("U")[0] %></td>
  </tr>

  <% end %>
  </tbody>
</table>
</div>