<div class="page-header">
  <h3 class="h3-header">New Transaction</h3>

  <div class="btn-group " role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary active" id="b1">New tran</button>
    <button type="button" class="btn btn-outline-primary " id="b2">New debt</button>
    <button type="button" class="btn btn-outline-primary " id="b3">Fast tran</button>
  </div>
</div>



<div class="new-tran">
  <form action="../base/response_on_new_transaction" method="get" class="my-form">

    <div class="form-group">


      <label for="reason" class="control-label">Reason</label>
      <select class="form-control js-input" name="reason" id="reason" required>
        <% @reasons.each do |x| %>
          <option value="<%= x.id %>"><%= x.reason %></option>
        <% end %>
      </select>
    </div>

    <div class="form-group">
      <label for="sum" class="ocntrol-label">Sum</label>
      <input type="text" class="form-control js-input" pattern="([0-9]* *\/*\**\+*-*\(*\)*\.*)*" name="sum" id="sum" value="0" placeholder="for example: 560*8+1000/3" required>
    </div>

    <div class="btn-details">Details
      <span class="icon-nav down"><%= octicon "triangle-down" %></span><span class="icon-nav up"><%= octicon "triangle-up" %></span>
    </div>

    <div class="details">

      <div class="form-group">
        <label for="description" class="control-label">Description</label>
        <input type="text" class="form-control js-input" name="description" id="description" placeholder="Description">
      </div>

      <div class="form-group">
        <label for="local" class="control-label">Local</label>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary active local_p">
            <input type="radio" name="local" id="local_p" autocomplete="off" value="true" checked>Personal
          </label>
          <label class="btn btn-outline-primary local_j">
            <input type="radio" name="local" id="local_j" autocomplete="off" value="false">Joint
          </label>
        </div>

      </div>
    </div>

    <input type="submit" class="btn btn-primary gradient submit_new_transaction" value="Add transaction">

  </form>
</div>

<div class="new-debt disp_none">
  <form action="../base/new_debt" class="my-form" method="get">
    <%= my_toggle_tag(toggle_name: "You debtor?", toggle_name_html: "you_debtor", name_one: "No", name_two: "Yes",active_one: "false") %>
    <%= my_input_tag("Name", "debtor", "text", "") %>
    <%= my_input_tag("Sum", "sum", "text", "") %>

    <div class="btn-details">Details
      <span class="icon-nav down"><%= octicon "triangle-down" %></span><span class="icon-nav up"><%= octicon "triangle-up" %></span>
    </div>
    <div class="details">
      <%= my_input_tag("Description", "description", "text", "") %>
      <%= my_toggle_tag(toggle_name: "Local", toggle_name_html: "local", name_one: "Personal", name_two: "Joint") %>
    </div>
    <input type="submit" class="btn btn-primary gradient form-control" value="Add">
  </form>
  <br><br>
  <div class="page-header">
    <h3>Debts table</h3>

    <div class="table-responsive">
      <table class="table-hover table-bordered main-table table">
        <thead class="thead-dark">
        <tr>
          <th>You debt</th>
          <th>Sum</th>
          <th>Person</th>
          <th class="text-warning">Delete</th>
        </tr>
        </thead>
        <tbody>
        <% if @my_debts.size > 0 %>
          <% @my_debts.each do |debt| %>

            <tr <%=color(debt.sign, "success", "warning")%>>
              <td><%= debt.you_debtor == false ? "No" : "Yes" %></td>
              <td><%= debt.sum %></td>
              <td><%= debt.debtor %></td>
              <td>
                <a href="<%= base_delete_debt_path %>?id=<%=debt.id %>"  class="delete-debt btn btn-outline-danger">
                  <span class="icon-nav">X</span></a>
              </td>
            </tr>
          <% end %>
        <%else %>
          <tr>
            <td colspan="4" class="no-tran">No debts</td>
          </tr>
        <%end %>

        </tbody>
      </table>
    </div>
</div>
</div>

<div class="fast-tran disp_none">
  <form action="../base/response_on_new_transaction" class="my-form" method="get">

    <div class="form-group">
      <label for="fast_tran">Fast transaction</label>

      <select name="fast_tran" id="fast_tran" class="form-control">
        <% @my_fast_transactions.each do |x| %>
          <option value="<%= x.id %>"><%= x.name %></option>
        <% end %>
      </select>
    </div>
    <a href="<%= base_new_fast_transaction_path %>">new fast transaction -></a>

    <input type="submit" class="btn btn-primary gradient form-control submit_new_transaction" value="Add">
  </form>
</div>


<br>
<br>

<div class="page-header">
  <h3>Last <%= @transactions.size > 0 ? @transactions.size : "" %> transactions</h3>
</div>

<div class="table-responsive" id="table-last-tran">
  <table class="table table-hover table-bordered tablesorter table-five">
    <thead class="thead-dark">
    <tr>
      <th>Sum</th>
      <th>Reason</th>
      <th>User</th>
      <th class="time">Date</th>
      <th class="delete">Delete</th>
    </tr>

    </thead>

    <tbody>

    <% if @transactions.size > 0 %>
      <% @transactions.each do |tran| %>
        <tr class="<%= Reason.find(tran.reason).sign == false ? 'table-success' : 'table-warning' %>">
          <td><%= tran.sum %></td>
          <td><%= Reason.find(tran.reason).reason %></td>
          <td><%= User.find(tran.user).email %></td>
          <td ><%= my_time(tran.created_at.to_s) %></td>
          <td><button id="t<%=tran.id %>" class = 'delete-transaction btn btn-outline-danger'><span class='icon-nav'>X</span></button></td>
        </tr>
      <% end %>

    <% else %>
      <tr id="no-tran">
        <td colspan="5" class="no-tran">No transactions</td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>