<div class="page-header">
  <%= link_to new_reason_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Reason
  <% end %>
  <h1>Listing reasons</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Reason</th>
      <th>Often</th>
      <th>User</th>
      <th>Deleted</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <%= content_tag_for(:tr, @reasons) do |reason| %>
      <td><%= reason.reason %></td>
      <td><%= reason.often %></td>
      <td><%= reason.user %></td>
      <td><%= reason.deleted %></td>
      <td><%= link_to 'Show', reason %></td>
      <td><%= link_to 'Edit', edit_reason_path(reason) %></td>
      <td><%= link_to 'Destroy', reason, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    <% end %>
    </tbody>
  </table>
</div>
