<div class="page-header">
  <%= link_to new_reason_path, class: 'btn btn-outline-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Reason
  <% end %>
  <h1>Listing reasons</h1>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
            <th>Reason</th>
            <th>Sign</th>
            <th>Often</th>
            <th>Local</th>
            <th>User</th>
            <th>Deleted</th>
            <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @reasons) do |reason| %>
            <td><%= reason.reason %></td>
            <td><%= reason.sign %></td>
            <td><%= reason.often %></td>
            <td><%= reason.local %></td>
            <td><%= reason.user %></td>
            <td><%= reason.deleted %></td>
            <td><span class="table-icon primary"></span> <%= link_to 'Edit', edit_reason_path(reason) %></td>
        <td><span class="table-icon danger"></span> <%= link_to 'Destroy', reason, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
