
<body class="before-login">
<div class="logo"><span class="logo-icon"><%= octicon "ruby" %></span> FINSYS</div>

<div class="jumbotron">
  <div class="page-header">
    <h3 class="text-primary">Log in to your account</h3>
  </div>

  <%= form_for(resource, as: resource_name, class: "", url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <div class="field input-group">
        <div class="input-group-prepend"><span class="icon"><%= octicon "person" %></span></div>
        <%= f.email_field :email, autofocus: true, autocompleate: "off", class: "form-control", placeholder: "Email" %>
      </div>
    </div>

    <div class="form-group">
      <div class="field input-group">
        <div class="input-group-prepend"><span class="icon"><%= octicon "lock" %></span></div>
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>

      </div>
    </div>


    <%# if devise_mapping.rememberable? -%>
    <!--    <div class="field">-->
    <%#= f.check_box :remember_me %>
    <%#= f.label :remember_me %>
    <!--    </div>-->
    <%# end -%>



    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="icon"><%= octicon "sign-in" %></span>
        </div>
        <%= f.submit "Log in", class: "form-control btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <div class="jumbotron-footer">
    New to FS? <a href="<%=new_user_registration_path %>">Sign Up</a>
  </div>

</div>

</body>


