<div class="page-header">
  <%= link_to new_transaction_path, class: 'btn btn-outline-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Transaction
  <% end %>
  <h1>Listing transactions</h1>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
            <th>Sum</th>
            <th>Description</th>
            <th>Reason</th>
            <th>User</th>
            <th>Local</th>

            <th>Deleted</th>
            <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @transactions) do |transaction| %>
            <td><%= transaction.sum %></td>
            <td><%= transaction.description %></td>
            <td><%= transaction.reason %></td>
            <td><%= transaction.user %></td>
            <td><%= transaction.local %></td>
            <td><%= transaction.deleted %></td>
            <td><span class="table-icon primary"></span> <%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><span class="table-icon danger"></span> <%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
