- if current_user
  %nav.navbar.navbar-expand-lg.navbar-light.bg-my
    %a.navbar-brand.my-brand{:href => root_path}
      %span.logo-icon= octicon "ruby"
      FINSYS

    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto

        %li.nav-item
          %a.nav-link{:href => base_main_tab_path}
            %span.icon-nav
              =octicon "list-unordered"
              Main table

        %li.nav-item
          %a.nav-link{:href => base_join_path}
            %span.icon-nav
              =octicon "organization"
              Join the group

        %li.nav-item
          %a.nav-link{:href => base_graph_path}
            %span.icon-nav
              =octicon "graph"
              Graphics


        %li.nav-item.active
          %a.nav-link.off{href: "#"}
            Home
            %span.sr-only (current)
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown-toggle.off{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
            All tables
          .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            %a.dropdown-item{href: "/transactions"} Transactions
            %a.dropdown-item{href: "/notices"} Notices
            %a.dropdown-item{href: "/fast_transactions"} Fast transactions
            %a.dropdown-item{href: "/destinations"} Destinations
            %a.dropdown-item{href: "/capitals"} Capitals
            %a.dropdown-item{href: "/reasons"} Reasons
            %a.dropdown-item{href: "/plan_tables"} Plan tables
            %a.dropdown-item{href: "/families"} Families


            -#.dropdown-divider
            -#%a.dropdown-item.off{href: "#"} Something else here

      %ul.navbar-right.navbar-nav
        - if user_signed_in?
          %li.nav-item
            %a.nav-link.off.no-hover.self{:href => "#"}
              %span.you You:
              = current_user.email

          %li.nav-item
            %a.nav-link{"data-method" => "delete", :href => destroy_user_session_path}
              %span.icon-nav
                = octicon "sign-out"
                Sign out

        - else
          %li.nav-item
            %a.nav-link.self{:href => new_user_session_path}
              %span.icon-nav
                = octicon "sign-in"
                Sign in

          %li.nav-item
            %a.nav-link{:href => new_user_registration_path}
              %span.icon-nav= octicon "person"
              Registration
